<div class="grid-container">
  <h1 class="mat-h1">Top {{numberOfCardsDisplayed}} games</h1>
  <br>
  <div *ngIf="!isFetching">
    <mat-form-field appearance="fill">
      <mat-label>Select a number of cards displayed</mat-label>
      <mat-select [(value)]="numberOfCardsDisplayed" (selectionChange)="onNumberChangeChange($event)">
        <mat-option *ngFor="let numberOfCards of numberList" [value]="numberOfCards">
          {{numberOfCards}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards " [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card card-image" [style.background-image]="'url('+card.image+')'" [style.width.px]="300" [style.height.px]="300">
          <mat-card-header class="mat-app-background card-title">
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="isFetching" style="margin-left:10px">
    <mat-spinner [diameter]="100"></mat-spinner>
    <br>
    <br>
    <br>
    <mat-spinner [diameter]="100" color="accent">
    </mat-spinner>
    <br>
    <br>
    <br>
    <mat-spinner [diameter]="100" color="warn">
    </mat-spinner>
  </div>
</div>
